<div class="container">
  <div class="row my-2">
    <div class="col-12">
      <ul class="nav nav-tabs" *ngIf="userProfil()">
        <li class="nav-item">
          <a href="" data-target="#profile" (click)="reload()" data-toggle="tab" class="nav-link active">Profile</a>
        </li>
        <li class="nav-item" >
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link" (click)="modeModification=!modeModificationOn">Modifier</a>
        </li>
        <li class="nav-item" >
          <a href="" data-target="#offre" data-toggle="tab" class="nav-link" (click)="offre()">Offre</a>
        </li>
      </ul>
      <div class="tab-content py-4" *ngIf="recruteurDetail !== undefined">
        <div class="tab-pane active" id="profile">
          <div class="row">
            <div class="col-md-8">
              <h3 class="mb-3">{{recruteurDetail.prenom}} {{recruteurDetail.nom}}</h3>
              <h5 *ngIf="userProfil()">A propos de moi</h5>
              <h5 *ngIf="!userProfil()">Résumé</h5>
              <hr>
              <p>{{recruteurDetail.apropos}}</p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i> {{recruteurDetail.email}}</p>
              <p>{{recruteurDetail.pays}}</p>
              <p><i class="fa fa-map-marker" aria-hidden="true" *ngIf="recruteurDetail.ville != NULL">></i> <strong>{{recruteurDetail.ville}}</strong> {{recruteurDetail.codePostal}}</p>
              <p><i class="fa fa-phone" aria-hidden="true" *ngIf="recruteurDetail.ville != NULL"></i> {{recruteurDetail.telephone}}</p>

            </div>
            <div class="col-md-4 text-center">
              <img *ngIf="currentUser.urlPhoto != NULL" src="{{currentUser.urlPhoto}}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
              <img *ngIf="currentUser.urlPhoto == NULL" src="../../assets/recruteur.jpg" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            </div>

              <!--
              <i><a href="https://www.google.fr/search?q=html5" class="badge badge-success">html5</a></i>
              <a href="https://www.google.fr/search?q=react" class="badge badge-success">react</a>
              <a href="https://www.google.fr/search?q=codeply" class="badge badge-success">codeply</a>
              <a href="https://www.google.fr/search?q=angularjs" class="badge badge-success">angularjs</a>
              <a href="https://www.google.fr/search?q=css3" class="badge badge-success">css3</a>
             -->


          </div>
        </div>
        <div class="tab-pane" id="edit" *ngIf="userProfil()">
          <form role="form">
            <app-recruteur-modification [recruteurDetail]="recruteur"></app-recruteur-modification>
          </form>
        </div>
        <div class="tab-pane" id="offre" *ngIf="userProfil()">
          <form role="form">
            <app-offres [offres]="recruteur.offres"></app-offres>
          </form>
          <button class="btn btn-primary mx-1" (click)="showModalAjoutPoste()" ><i class="fa fa-plus fa-md"></i> Ajouter une poste</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <hr>




