<h1 class="text-center my-lg-4">
  About iMatchProfil
</h1>
<div class="row">
  <div class="col-sm-12">
    <p>
      iMatchProfile va permettre à des recruteurs et des candidats de communiquer entre eux. Ils
      pourront s'envoyer des messages, rechercher des candidats ou des recruteurs.
    </p>
    <p>
      Les candidats pourront rechercher un poste correspondant à ses compétences et y postuler s'il le souhaite.
    </p>
    <p>
      Les recruteurs pourront poster des offres d'emplois et rechercher les candidats compatibles.
    </p>
  </div>
  <div class="col-md-2">
    <div class="col-sm-12">
      <img class="img-fluid" src="../../assets/visiteur.jpg" alt="logo">
    </div>
    <div class="col-sm-12 text-center">
      <h3>
        Visiteur
      </h3>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-12">
      <img class="img-fluid" src="../../assets/candidat.jpg" alt="logo">
    </div>
    <div class="col-sm-12 text-center">
      <h3>
        Candidat
      </h3>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-12">
      <img class="img-fluid" src="../../assets/recruteur.jpg" alt="logo">
    </div>
    <div class="col-sm-12 text-center">
      <h3>
        Recruteur
      </h3>
    </div>
  </div>
</div>
