


  <!-- <input type="text" name="email" placeholder="{{candidatDetail.email}}"><br>
   <input type="text" name="nom" placeholder="{{candidatDetail.nom}}"><br>
   <input type="text" name="prenom" placeholder="{{candidatDetail.prenom}}"><br>
   <input type="text" name="ville" placeholder="{{candidatDetail.ville}}"><br>
   <input type="text" name="codePostal" placeholder="{{candidatDetail.codePostal}}"><br>
   <input type="text" name="telephone" placeholder="{{candidatDetail.telephone}}"><br>
   <input type="text" name="dateNaissance" placeholder="{{candidatDetail.dateNaissance}}"><br>
   <input type="text" name="titre" placeholder="{{candidatDetail.titre}}"><br>
   <input type="text" name="status" placeholder="{{candidatDetail.status}}"><br>
   <input type="text" name="statusActuel" placeholder="{{candidatDetail.statusActuel}}"><br>
   <input type="text" name="apropos" placeholder="{{candidatDetail.apropos}}"><br>
   <input type="text" name="experiences" placeholder="{{candidatDetail.experiences}}" disabled ><br>
   <input type="text" name="competences" placeholder="{{candidatDetail.competences}}" disabled><br>
   <input type="text" name="photo" placeholder="{{candidatDetail.photo}}" disabled><br>

 -->
<div class="col-12 text-center mb-2">
  <button class="btn btn-primary mx-1" (click)="showModalExperience()" ><i class="fa fa-plus fa-md"></i> Ajouter une Expérience</button>
  <button class="btn btn-primary mx-1" (click)="showModalCompetence()" ><i class="fa fa-plus fa-md"></i> Ajouter une Compétence</button>
</div>

<form name="form" (ngSubmit)="update()"  #f="ngForm">
  <h5>A propos de moi</h5>
  <hr>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Prénom</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="prenom"
             disabled
             minlength="1"
             [(ngModel)]="candidatDetail.prenom"
             name="prenom"
             #prenom="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Nom</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="nom"
             disabled
             minlength="1"
             [(ngModel)]="candidatDetail.nom"
             name="nom"
             #nom="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Email</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="email"
             disabled
             minlength="1"
             [(ngModel)]="candidatDetail.email"
             name="email"
             #email="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label" value="Adresse">Adresse</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="ville"
             required
             minlength="1"
             placeholder="ville"
             [(ngModel)]="candidatDetail.ville"
             name="ville"
             #ville="ngModel">
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" id="codePostal"
             required
             minlength="1"
             placeholder="Code postal"
             [(ngModel)]="candidatDetail.codePostal"
             name="codePostal"
             #codePostal="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">URL Photo</label>
    <div class="col-lg-9">
      <input class="form-control" type="text"
              [(ngModel)]="urlPhoto"
              name="urlPhoto"
              >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">A propos de moi</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="apropos"
             minlength="1"
             [(ngModel)]="candidatDetail.apropos"
             name="apropos"
             #apropos="ngModel" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Téléphone</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="telephone"
             minlength="10"
             [(ngModel)]="candidatDetail.telephone"
             name="telephone"
             #telephone="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label" >Date de naissance</label>
    <div class="col-lg-9">
      <input type="date" class="form-control" id="dateNaissance"
             minlength="1"
             [(ngModel)]="candidatDetail.dateNaissance"
             name="dateNaissance"
             #dateNaissance="ngModel" >
    </div>
  </div>

  <div class="form-group row">
    <button [disabled]="loading" class="btn btn-primary">Enregistrer</button>
  <!-- <a (click)="cancel()" class="btn btn-link">Cancel</a>-->
  </div>
</form>
<div *ngIf="candidatDetail.experiences.length > 0">
  <h5 class="mt-2">Mes expériences</h5>
  <hr>
</div>
  <div *ngFor="let experience of candidatDetail.experiences">
    <app-experiences-modification [experienceUpdate]="experience"></app-experiences-modification>
  </div>


