<div class="col-12 text-center mb-2">
  <button class="btn btn-primary mx-1" (click)="showModalExperience()" ><i class="fa fa-plus fa-md"></i> Ajouter une Expérience</button>
  <button class="btn btn-primary mx-1" (click)="showModalCompetence()" ><i class="fa fa-plus fa-md"></i> Ajouter une Compétence</button>
</div>

<form name="form" (ngSubmit)="update()"  #f="ngForm">
  <h5>A propos de moi</h5>
  <hr>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Prénom</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="prenom"
             disabled
             minlength="1"
             [(ngModel)]="candidatDetail.prenom"
             name="prenom"
             #prenom="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Nom</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="nom"
             disabled
             minlength="1"
             [(ngModel)]="candidatDetail.nom"
             name="nom"
             #nom="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Email</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="email"
             disabled
             minlength="1"
             [(ngModel)]="candidatDetail.email"
             name="email"
             #email="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Titre</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="titre"
             minlength="4"
             [(ngModel)]="candidatDetail.titre"
             name="titre"
             #titre="ngModel">
      <!-- validation formulaire -->
      <div *ngIf="titre.invalid && (titre.dirty || titre.touched)"
           class="warning alert-warning">
        <div *ngIf="titre.errors.required">
          Un titre est conseillé.
        </div>
        <div *ngIf="titre.errors.minlength">
          Votre titre doit avoir au moins 4 caractères.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label" value="Adresse">Adresse</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="ville"
             minlength="2"
             placeholder="Ville"
             [(ngModel)]="candidatDetail.ville"
             name="ville"
             #ville="ngModel">
      <!-- validation formulaire -->
      <div *ngIf="ville.invalid && (ville.dirty || ville.touched)"
           class="warning alert-warning">
        <div *ngIf="ville.errors.minlength">
          Votre ville doit avoir au moins 2 caractères.
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" id="codePostal"
             pattern="[0-9]{5}"
             placeholder="Code postal"
             [(ngModel)]="candidatDetail.codePostal"
             name="codePostal"
             #codePostal="ngModel">
      <!-- validation formulaire -->
      <div *ngIf="codePostal.invalid && (codePostal.dirty || codePostal.touched)"
           class="warning alert-warning">
        <div *ngIf="codePostal.errors.pattern">
          Votre code postal doit avoir 5 chiffres.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">URL Photo</label>
    <div class="col-lg-9">
      <input class="form-control" type="url"
             [(ngModel)]="candidatDetail.urlPhoto"
             placeholder="www.a.com/b.png"
             name="urlPhoto"
             #urlPhoto="ngModel">
      <!-- validation formulaire -->
      <div *ngIf="urlPhoto.invalid && (urlPhoto.dirty || urlPhoto.touched)"
           class="warning alert-warning">
        <div *ngIf="urlPhoto.errors.pattern">
          Une URL a au minimum 15 caractères du style : www.a.com/b.png
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">A propos de moi</label>
    <div class="col-lg-9">
      <textarea type="text" class="form-control" id="apropos"
             minlength="200"
             placeholder="Une petite description de vous ?"
             [(ngModel)]="candidatDetail.apropos"
             name="apropos"
             #apropos="ngModel" >
      </textarea>
      <!-- validation formulaire -->
      <div *ngIf="apropos.invalid && (apropos.dirty || apropos.touched)"
           class="warning alert-warning">
        <div *ngIf="apropos.errors.minlength">
          Votre description est trop courte !
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Téléphone</label>
    <div class="col-lg-9">
      <input type="tel" class="form-control" id="telephone"
             minlength="10"
             maxlength="10"
             [(ngModel)]="candidatDetail.telephone"
             name="telephone"
             #telephone="ngModel">
      <!-- validation formulaire -->
      <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)"
           class="warning alert-warning">
        <div *ngIf="telephone.errors.minlength">
          Votre numéro est trop court.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label" >Date de naissance</label>
    <div class="col-lg-9">
      <input type="date" class="form-control" id="dateNaissance"
             [(ngModel)]="candidatDetail.dateNaissance"
             name="dateNaissance"
             #dateNaissance="ngModel" >
    </div>
  </div>

  <div class="form-group row">
    <button [disabled]="!f.valid" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
<div *ngIf="candidatDetail.experiences.lenght > 0">
  <h5 class="mt-2">Mes expériences</h5>
  <hr>
</div>
<div *ngFor="let experience of candidatDetail.experiences">
  <app-experiences-modification [currentCandidat]="candidatDetail" [experienceUpdate]="experience" ></app-experiences-modification>
</div>

<div *ngIf="candidatDetail.competences.length > 0">
  <h5 class="mt-2">Mes compétences</h5>
  <hr>
</div>

<div class="row">
  <div *ngFor="let competence of candidatDetail.competences">

    <div class="col">
      <app-competence-modification [competenceUpdate]="competence" [currentCandidat]="candidatDetail"></app-competence-modification>
    </div>

  </div>
</div>

