<br>
<div class="card" *ngIf="offreObj.suspendu">
  <img class="img-fluid"  *ngIf="offreObj.photo" src="{{ offreObj.photo }}" alt="logo">
  <img class="img-fluid"  *ngIf="!offreObj.photo" src="../../assets/societe_anonyme.jpg" alt="logo">
  <div class="intitule"><h4>{{offreObj.intitule}}</h4></div>
  <p class="title">{{offreObj.typeContrat}}<br>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> {{offreObj.niveauRequis}}<br>
    <i class="fa fa-usd" aria-hidden="true"></i> {{offreObj.salaireMin}} - {{offreObj.salaireMax}}<br>

  <p><button [routerLink]="['/offre/', offreObj.id]">Voir l'offre</button></p>

</div>




