<form name="form"  #f="ngForm">
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Type de contrat</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="typeContrat"
             minlength="2"
             required
             [(ngModel)]="experience.typeContrat"
             name="typeContrat"
             #typeContrat="ngModel">
      <div *ngIf="typeContrat.invalid && (typeContrat.dirty || typeContrat.touched)"
           class="alert alert-danger">
        <div *ngIf="typeContrat.errors.required">
          Vous devez renseigner votre contrat.
        </div>
        <div *ngIf="typeContrat.errors.minlength">
          Votre contrat avait sûrement un nom plus long.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Date de début</label>
    <div class="col-lg-9">
      <input type="date" class="form-control" id="nom"
             [(ngModel)]="experience.dateDebut "
             name="dateDebut"
             #dateDebut="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Date de fin</label>
    <div class="col-lg-9">
      <input type="date" class="form-control" id="dateFin"
             [(ngModel)]="experience.dateFin"
             name="dateFin"
             #dateFin="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Description</label>
    <div class="col-lg-9">
      <textarea type="text" class="form-control" id="description"
                required
                minlength="20"
                [(ngModel)]="experience.description"
                placeholder="Qu'avez-vous avez appris grâce à cette expérience ?"
                name="description"
                #description="ngModel">
          </textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Une description est requise.
        </div>
        <div *ngIf="description.errors.minlength">
          Votre profil sera plus intéressant si vous mettez plus de description !
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Poste occupé</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="posteOccuper"
             required
             minlength="2"
             [(ngModel)]="experience.posteOccuper"
             placeholder="Poste occupé"
             name="posteOccuper"
             #posteOccuper="ngModel">
      <div *ngIf="posteOccuper.invalid && (posteOccuper.dirty || posteOccuper.touched)"
           class="alert alert-danger">
        <div *ngIf="posteOccuper.errors.required">
          Vous devez renseigner le poste que vous avez occupé.
        </div>
        <div *ngIf="posteOccuper.errors.minlength">
          Votre poste avait sûrement un nom plus long.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <button [disabled]="!f.valid" (click)="update()" class="btn btn-primary mx-1">Enregistrer</button>
    <button (click)="supprimer()" class="btn btn-danger mx-1"><i class="fa fa-plus fa-trash"></i> Supprimer</button>
  </div>
</form>
