

<form name="form" (ngSubmit)="update()"  #f="ngForm">
  <h5>A propos de moi</h5>
  <hr>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Prénom</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="prenom"
             disabled
             minlength="1"
             [(ngModel)]="recruteurDetail.prenom"
             name="prenom"
             #prenom="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Nom</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="nom"
             disabled
             minlength="1"
             [(ngModel)]="recruteurDetail.nom"
             name="nom"
             #nom="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Email</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="email"
             disabled
             minlength="1"
             [(ngModel)]="recruteurDetail.email"
             name="email"
             #email="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label" value="Adresse">Adresse</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="ville"
             required
             minlength="1"
             placeholder="ville"
             [(ngModel)]="recruteurDetail.ville"
             name="ville"
             #ville="ngModel">
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" id="codePostal"
             required
             minlength="1"
             placeholder="Code postal"
             [(ngModel)]="recruteurDetail.codePostal"
             name="codePostal"
             #codePostal="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">URL Photo</label>
    <div class="col-lg-9">
      <input class="form-control" type="text"
             minlength="16"
             [(ngModel)]="recruteurDetail.urlPhoto"
             name="urlPhoto"
             #urlPhoto="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">A propos de moi</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="apropos"
             minlength="1"
             [(ngModel)]="recruteurDetail.apropos"
             name="apropos"
             #apropos="ngModel" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Téléphone</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="telephone"
             minlength="10"
             [(ngModel)]="recruteurDetail.telephone"
             name="telephone"
             #telephone="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label" >Date de naissance</label>
    <div class="col-lg-9">
      <input type="date" class="form-control" id="dateNaissance"
             minlength="1"
             [(ngModel)]="recruteurDetail.dateNaissance"
             name="dateNaissance"
             #dateNaissance="ngModel" >
    </div>
  </div>

  <div class="form-group row">
    <button [disabled]="loading" class="btn btn-primary">Enregistrer</button>
    <!-- <a (click)="cancel()" class="btn btn-link">Cancel</a>-->
  </div>
</form>

<h5 class="mt-2">Paramètres supplémentaires</h5>
<hr>
<button class="btn btn-primary" (click)="suspendre()" *ngIf="!recruteurDetail.suspendu; else compte_suspendu">Suspendre mon compte</button>
<ng-template #compte_suspendu>
  <button class="btn btn-primary" (click)="suspendre()">Activer mon compte</button>
</ng-template>
<button class="btn btn-primary" (click)="supprimer()">Supprimer mon compte</button>
