<tr>
  <td>
    <div class="row">
      <div class="col-10">
      <!--  <a class="col-12" [routerLink]="['/candidat/', candidatObj.id]">
        <a [routerLink]="['/candidat']" ><h3>{{candidatObj.firstName}} {{candidatObj.lastName}}</h3></a>

        </a>-->
        <!--<div class="col-12">
          {{candidatObj.bio}}
        </div>-->

        <!--<div class="col-12">
          </div>
      <div class="col-2">
        <div class="col-12">
          {{candidatObj.email}}
        </div>
          <img class="img-fluid"  *ngIf="candidatObj" src="{{ candidatObj.photo }}" alt="logo">
        </div>-->
      </div>
    </div>
    <div class="row">
      <!--<div class="col-10">
        <span class="glyphicon glyphicon-map-marker"></span><i class="fa fa-map-marker" aria-hidden="true"></i> {{candidatObj.location}}
      </div>
      <div class="col-2">
        {{candidatObj.date_naissance}}
      </div>-->
    </div>
    {{candidatObj.email}}
  </td>
</tr>
