/*
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  background-color: #f3f5f6;
}

a:focus, a:hover, a:active {
  text-decoration: none;
}

.text-black {
  color: #333 !important;
}

a.text-black:focus, a.text-black:hover {
  color: #7b7b7b !important;
}



.list {
  display: block;
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  border-radius: 2px;
  transition: all .2s ease-in-out;
}

.list-header {
  display: block;
  float: left;
  width: 35%;
  overflow: hidden;
  position: relative;
  border-radius: 2px 0 0 2px;
}

.list-header img {
  width: 100%;
}

.list-header .list-header-image:after {
  display: block;
  content: '';
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 200px 100px rgba(0,0,0,.58);
  z-index: 1;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .8s;
  -moz-transition: all .8s;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
}

.list-content {
  display: block;
  margin-left: 35%;
  padding: 15px;
  position: relative;
}

.list-meta {
  display: block;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 100%;
}

.list-meta .list-meta-item {
  display: inline-block;
  margin-right: 18px;
  color: #9A9A9A;
}

.list:after {
  display: block;
  clear: both;
  content: '';
}

.list:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}



@media only screen and (max-width: 991px) {
  .list-header {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .list-content {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 15px;
    clear: both;
  }
}
*/





/*


.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
  background: url("../../assets/logo.png");
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }


@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }

@-webkit-keyframes puff {
0% {
  top: 100%;
  width: 0px;
  padding-bottom: 0px;
}
100% {
  top: 50%;
  width: 100%;
  padding-bottom: 100%;
}
}
@keyframes puff {
  0% {
    top: 100%;
    width: 0px;
    padding-bottom: 0px;
  }
  100% {
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
  }
}
}

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 15px 20px 30px 20px;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
@-webkit-keyframes materia {
0% {
  background: #E0E0E0;
}
50% {
  -webkit-border-radius: 4px;
}
100% {
  width: 280px;
  height: 440px;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
}
}
@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 280px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}
}
*/





@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0061 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0061 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip0061 img {
  max-width: 100%;
  position: relative;
  display: block;
}
figure.snip0061:before {
  position: absolute;
  content: '';
  height: 120%;
  width: 150%;
  z-index: 1;
  top: -60%;
  left: -60%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: skewX(-30deg) translateX(-20%);
  transform: skewX(-30deg) translateX(-20%);
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}
figure.snip0061 figcaption {
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 30px;
  width: 60%;
  z-index: 1;
  opacity: 0;
}
figure.snip0061 figcaption h2,
figure.snip0061 figcaption p {
  margin: 0;
  text-align: left;
  padding: 5px 0 0;
  width: 100%;
}
figure.snip0061 figcaption h2 {
  font-size: 1.4em;
  font-weight: 300;
  text-transform: uppercase;
}
figure.snip0061 figcaption h2 span {
  font-weight: 800;
}
figure.snip0061 figcaption p {
  font-weight: 500;
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0061 figcaption .icons {
  width: 100%;
  padding: 8px 0;
}
figure.snip0061 figcaption .icons i {
  display: inline-block;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  opacity: 0;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}
figure.snip0061 figcaption a {
  opacity: 0.7;
}
figure.snip0061 figcaption a:hover {
  opacity: 1;
}
figure.snip0061 .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 500;
  color: #ffffff;
  background: #000000;
}
figure.snip0061.blue .icons i {
  background: #164666;
}
figure.snip0061.blue .position {
  background: #20638f;
}
figure.snip0061.red .icons i {
  background: #6d2018;
}
figure.snip0061.red .position {
  background: #1672ca;
}
figure.snip0061.yellow .icons i {
  background: #924d10;
}
figure.snip0061.yellow .position {
  background: #bf6516;
}
figure.snip0061.green .icons i {
  background: #145b32;
}
figure.snip0061.green .position {
  background: #1e8449;
}
figure.snip0061:hover figcaption,
figure.snip0061.hover figcaption,
figure.snip0061:hover .icons i,
figure.snip0061.hover .icons i {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0061:hover:before,
figure.snip0061.hover:before {
  -webkit-transform: skewX(0deg) translateX(0px);
  transform: skewX(0deg) translateX(0px);
}

