
<form #f="ngForm">
  <div class="modal-header header">
    <h3>Ajoute une compétence</h3>
  </div>

  <div class="modal-body">
    <div class="container">
      <div >


        <select name="competence" ngModel>
          <option value="" disabled>Choisir une compétence</option>
          <option *ngFor="let competence of competences" [ngValue]="competence">
            {{ competence.nom }}
          </option>
        </select>

  </div>



        </div>
    </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>


