<h1 #ref class="text-center my-lg-4">
  <ng-content></ng-content>
</h1>
<h1 *ngIf="ref.children.length == 0" class="text-center my-lg-4">Liste des offres</h1>
<!--<div class="row">
  <div class="col-sm-12 text-center">
    <input placeholder="poste" />
    <input placeholder="société" />
    <input placeholder="lieu" />
    <button type="button" class="btn btn-primary">Rechercher</button>
  </div>
</div>-->
<div class="row">
  <div class="table-responsive">
    <table class="table table-hover col-12">
      <tbody>
      <div *ngFor="let offre of offres">
        <app-offre [offreObj]="offre">
        </app-offre>
      </div>

      </tbody>
    </table>
  </div>
</div>
