<!--<div class="container">
  <div class="card">
    <div class="hovereffect">
      <img class="img-responsive" name="imageEvent"
           *ngIf="offreDetail"
           src="{{ offreDetail.photo }}"
           style="height: 220px; width: 100%">
      <div class="overlay">
      </div>
    </div>
    <div class="card-block">
      <h4 class="card-title">{{offreDetail.intitule}}</h4>
      <h3 class="card-title">{{offreDetail.societe}}</h3>
      <p class="card-text"><i class="ng-icon fa fa-calendar" aria-hidden="true"></i> {{offreDetail.date}}</p>
      <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> {{offreDetail.location}}</p>
      <p> {{offreDetail.description}}</p>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="row my-2">
    <div class="col-12">
      <ul class="nav nav-tabs" *ngIf="userProfil()">
        <li class="nav-item">
          <a href="" data-target="#profile" (click)="reload()" data-toggle="tab" class="nav-link active">Offre</a>
        </li>
        <li class="nav-item" >
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link" (click)="modeModification=!modeModificationOn">Modifier</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">
          <div class="row">
            <div class="col-md-8">
              <h3 class="mb-3">{{offreDetail.intitule}}</h3>
              <h5>Informations</h5>
              <hr>
              <p>
                <i class="fa fa-user" aria-hidden="true"></i> Recruteur :
                <a [routerLink]="['/recruteur', offreDetail.recruteur.id]" class="text-black">
                  {{offreDetail.recruteur.nom}} {{offreDetail.recruteur.prenom}}
                </a>
              </p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i> Email recruteur : {{offreDetail.recruteur.email}}</p>
              <p><i class="fa fa-users" aria-hidden="true"></i> Société : {{offreDetail.societe}}</p>
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> Type de contrat : {{offreDetail.typeContrat}}</p>
              <p><i class="fa fa-usd" aria-hidden="true"></i> {{offreDetail.salaireMin}} - {{offreDetail.salaireMax}}</p>
            </div>
            <div class="col-md-4 text-center">
              <img class="img-fluid"  *ngIf="offreDetail.photo" src="{{ offreDetail.photo }}" alt="logo">
              <img class="img-fluid"  *ngIf="!offreDetail.photo" src="../../../assets/societe_anonyme.jpg" alt="logo">
            </div>
          </div>
          <div class="col-12">
            <h5>Description de l'offre</h5>
            <hr>
            <p> {{offreDetail.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
