
<tr>
  <td>
    <div class="row">
      <div class="col-10">
        <a class="col-12" [routerLink]="['/offre/', offreObj.id]">
          <h3>{{offreObj.intitule}}</h3>
        </a>
        <h4 *ngIf="!offreObj.suspendu" style="color: red"> offre suspendue</h4>
        <div class="col-12">
          {{offreObj.description}}
        </div>
      </div>
      <div class="col-2">
        <div class="col-12">
          {{offreObj.typeContrat}}
        </div>
        <div class="col-12">
          <img class="img-fluid"  *ngIf="offreObj.photo" src="{{ offreObj.photo }}" alt="logo">
          <img class="img-fluid"  *ngIf="!offreObj.photo" src="../../assets/societe_anonyme.jpg" alt="logo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <span class="glyphicon glyphicon-map-marker"></span><i class="fa fa-map-marker" aria-hidden="true"></i> {{offreObj.location}}
      </div>
      <div class="col-2">
        {{offreObj.date}}
      </div>
    </div>
  </td>
</tr>




