<!--<div class="container">
  <div class="card">
    <div class="hovereffect">
      <img class="img-responsive" name="imageEvent"
           *ngIf="offreDetail"
           src="{{ offreDetail.photo }}"
           style="height: 220px; width: 100%">
      <div class="overlay">
      </div>
    </div>
    <div class="card-block">
      <h4 class="card-title">{{offreDetail.intitule}}</h4>
      <h3 class="card-title">{{offreDetail.societe}}</h3>
      <p class="card-text"><i class="ng-icon fa fa-calendar" aria-hidden="true"></i> {{offreDetail.date}}</p>
      <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> {{offreDetail.location}}</p>
      <p> {{offreDetail.description}}</p>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="row my-2">
    <div class="col-12">
      <ul class="nav nav-tabs" *ngIf="userProfil()">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Offre</a>
        </li>
        <li class="nav-item" >
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link" (click)="modeModification=!modeModificationOn">Modifier</a>
        </li>
      </ul>
      <div class="tab-content py-4" *ngIf="offreDetail.recruteur !== undefined">
        <div class="tab-pane active" id="profile">
          <div class="row">
            <div class="col-md-8">
              <i *ngIf="userProfil()" style="color: red">(Visible : {{offreDetail.suspendu}})</i>

              <h3 class="mb-3">{{offreDetail.intitule}}</h3>

              <h5>Informations</h5>
              <div class="col-md-4 text-center">
                <img class="img-fluid" *ngIf="offreDetail.photo" src="{{ offreDetail.photo }}" alt="logo">
                <img class="img-fluid" *ngIf="!offreDetail.photo" src="../../assets/societe_anonyme.jpg" alt="logo">
              </div>
              <button *ngIf="isCandidat()" class="btn btn-primary mx-1" (click)="postuler()"><i class="fa fa-md"></i>Postuler
              </button>
              <button *ngIf="userProfil() && isSuspendu()" class="btn btn-primary mx-1" (click)="suspendre()"><i class="fa fa-md"></i>Suspendre</button>
              <button *ngIf="userProfil() && !isSuspendu()" class="btn btn-primary mx-1" (click)="suspendre()"><i class="fa fa-md"></i>Rendre Visible
              </button>

              <hr>
              <p>
                <i class="fa fa-user" aria-hidden="true"></i> Recruteur :
                <a [routerLink]="['/recruteur', offreDetail.recruteur.id]" class="text-black">
                  {{offreDetail.recruteur.nom}} {{offreDetail.recruteur.prenom}}
                </a>
              </p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i> Email recruteur : {{offreDetail.recruteur.email}}</p>
              <p><i class="fa fa-users" aria-hidden="true"></i> Société : {{offreDetail.societe}}</p>
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> Type de contrat : {{offreDetail.typeContrat}}</p>
              <p><i class="fa fa-usd" aria-hidden="true"></i> {{offreDetail.salaireMin}} - {{offreDetail.salaireMax}}
              </p>


                <h5>Description de l'offre</h5>
                <hr>
                <p> {{offreDetail.description}}</p>

              <div  *ngIf="offreDetail.competences.length > 0">
                <h5 class="mt-2" *ngIf="userProfil()">Compétences demandées</h5>
                <h5 class="mt-2" *ngIf="!userProfil()">Compétences</h5>
                <hr>
                <ul class="tags">
                  <li *ngFor="let competence of offreDetail.competences" >
                    <a>{{competence.nom}}</a><span></span>
                  </li>
                </ul>
              </div>

            </div>
            <div class="col-md-4 text-center" *ngIf="userProfil() && candidats !== undefined">
              <h4>Liste de candidats potentiels</h4>
              <h6>(IMatchProfile matching algorithm)</h6>
              <form [formGroup]="checkBoxGroupForm">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="exp" >
                  <label ngbButtonLabel class="btn-primary" (click)="updateMatch()">
                    <input ngbButton type="radio" [value]="false"> {{this.valueinputCheck}}
                  </label>
                </div>
              </form>

              <div *ngFor="let cand of candidats">
                <a [routerLink]="['/candidat', cand.candidat.id]" class="text-black">
                  <figure class="snip0061 red"  [routerLink]="['/candidat',cand.candidat.id]">
                    <img *ngIf="cand.candidat.urlPhoto == NULL" src="../../assets/candidat.jpg" />
                    <img *ngIf="cand.candidat.urlPhoto != NULL" src="{{cand.candidat.urlPhoto}}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                    <figcaption>
                      <h2><div *ngIf="cand.candidat.titre; else message_default" >{{cand.candidat.titre}}</div><h6 *ngIf="cand.candidat.ville"> <i class="fa fa-map-marker" aria-hidden="true"></i>{{cand.candidat.ville}}</h6></h2>
                      <ng-template #message_default>Informations non renseignées</ng-template>
                      <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-email-unread"></i></a><a href="#"><i class="ion-ios-star"></i></a></div>
                    </figcaption>
                    <div class="position" >
                      {{cand.candidat.nom}} {{cand.candidat.prenom}}
                      <div>
                        <ngb-progressbar type="success" value="{{cand.pourcentage}}" showValue="true"></ngb-progressbar>
                      </div>
                    </div>
                  </figure>
                </a>

              </div>
            </div>
          </div>


        </div>
        <div class="tab-pane" id="edit" *ngIf="userProfil()">
          <form role="form">
            <!-- <app-recruteur-modification [recruteurDetail]="recruteur"></app-recruteur-modification> -->
            <app-offre-modification [offreDetail]="offreDetail" ></app-offre-modification>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
