
<form #f="ngForm">
  <div class="modal-header header">
    <h3>Inscris toi :)</h3>
  </div>

  <div class="modal-body">
    <div class="container">
      <div >



        <div class="form-group">
          <label for="typeContrat">typeContrat</label>
          <input type="text" class="form-control" id="typeContrat"
                 required
                 minlength="2"
                 [(ngModel)]="model.typeContrat"
                 placeholder="Tell us more about you"
                 name="bio"
                 #typeContrat="ngModel">
          <div *ngIf="typeContrat.invalid && (typeContrat.dirty || typeContrat.touched)"
               class="alert alert-danger">
            <div *ngIf="typeContrat.errors.required">
              typeContrat is required.
            </div>
            <div *ngIf="typeContrat.errors.minlength">
              typeContrat must be at least 20 character long.
            </div>
          </div>
        </div>






        <div class="form-group">
          <label >Date de debut</label>
            <input type="date" class="form-control" id="nom"
                   [(ngModel)]="model.dateDebut"
                   name="dateDebut"
                   #dateDebut="ngModel">
        </div>
        <div class="form-group ">
          <label >Dete de fin</label>
            <input type="date" class="form-control" id="dateFin"
                   [(ngModel)]="model.dateFin"
                   name="dateFin"
                   #dateFin="ngModel">
        </div>


        <div class="form-group">
          <label for="description">description</label>
          <input type="text" class="form-control" id="description"
                 required
                 minlength="20"
                 [(ngModel)]="model.description"
                 placeholder="Tell us more about you"
                 name="description"
                 #description="ngModel">
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
               class="alert alert-danger">
            <div *ngIf="description.errors.required">
              description is required.
            </div>
            <div *ngIf="description.errors.minlength">
              description must be at least 20 character long.
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>


<!--

typeContract
dateDebut
dateFin
description

-->
