<form #f="ngForm">
  <div class="modal-header header">
    <h3>Ajouter une offre</h3>
  </div>

  <div class="modal-body">
    <div class="container">



      <div class="form-group">
        <label for="intitule">Intitulé</label>
        <input type="text" class="form-control" id="intituleContrat"
               required
               minlength="2"
               [(ngModel)]="model.intitule"
               placeholder="Intitulé de l'offre"
               name="intitule"
               #intitule="ngModel">
        <div *ngIf="intitule.invalid && (intitule.dirty || intitule.touched)"
             class="alert alert-danger">
          <div *ngIf="intitule.errors.required">
            Vous devez fournir un intitulé.
          </div>
          <div *ngIf="intitule.errors.minlength">
            Votre intitulé est trop court.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="niveauRequis">Niveau requis</label>
        <input type="text" class="form-control" id="niveauRequis"
               required
               minlength="2"
               [(ngModel)]="model.niveauRequis"
               placeholder="Niveau requis pour l'offre"
               name="niveauRequis"
               #niveauRequis="ngModel">
        <div *ngIf="niveauRequis.invalid && (niveauRequis.dirty || niveauRequis.touched)"
             class="alert alert-danger">
          <div *ngIf="niveauRequis.errors.required">
            Vous devez renseigner le niveau requis pour postuler à l'offre.
          </div>
          <div *ngIf="niveauRequis.errors.minlength">
            Le niveau requis est trop court.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="typeContrat">Type de contrat</label>
        <input type="text" class="form-control" id="typeContrat"
               required
               minlength="2"
               [(ngModel)]="model.typeContrat"
               placeholder="Type de contract"
               name="typeContrat"
               #typeContrat="ngModel">
        <div *ngIf="typeContrat.invalid && (typeContrat.dirty || typeContrat.touched)"
             class="alert alert-danger">
          <div *ngIf="typeContrat.errors.required">
            Vous devez renseigner le type de contrat.
          </div>
          <div *ngIf="typeContrat.errors.minlength">
            Le type de contrat est trop court.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="salaireMin">Salaire minimum</label>
        <input type="number" class="form-control" id="salaireMin"
               required
               minlength="1"
               min="1"
               [(ngModel)]="model.salaireMin"
               placeholder="Salaire minimum"
               name="salaireMin"
               #salaireMin="ngModel">
        <div *ngIf="salaireMin.invalid && (salaireMin.dirty || salaireMin.touched)"
             class="alert alert-danger">
          <div *ngIf="salaireMin.errors.required">
            Quel est le salaire minimum ?
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for="salaireMax">Salaire maximum</label>
        <input type="number" class="form-control" id="salaireMax"
               required
               minlength="1"
               min="2"
               [(ngModel)]="model.salaireMax"
               placeholder="Salaire maximum"
               name="salaireMax"
               #salaireMax="ngModel">
        <div *ngIf="salaireMax.invalid && (salaireMax.dirty || salaireMax.touched)"
             class="alert alert-danger">
          <div *ngIf="salaireMax.errors.required">
            Quel est le salaire maximum ?
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
               required
               minlength="12"
               [(ngModel)]="model.description"
               placeholder="Description de votre offre"
               name="description"
               #description="ngModel">
        <div *ngIf="description.invalid && (description.dirty || description.touched)"
             class="alert alert-danger">
          <div *ngIf="description.errors.required">
            Vous devez fournir une description d'offre.
          </div>
          <div *ngIf="description.errors.minlength">
            Votre description est trop courte.
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for="mission">Mission</label>
        <input type="text" class="form-control" id="mission"
               required
               minlength="2"
               [(ngModel)]="model.mission"
               placeholder="Mission"
               name="mission"
               #mission="ngModel">
        <div *ngIf="mission.invalid && (mission.dirty || mission.touched)"
             class="alert alert-danger">
          <div *ngIf="mission.errors.required">
            Quel sera la mission de vos candidats ?
          </div>
          <div *ngIf="mission.errors.minlength">
            Votre mission est bien courte...
          </div>
        </div>
      </div>



      <div class="form-group">
        <label >Date limite</label>
        <input type="date" class="form-control" id="dateLimite"
               [(ngModel)]="model.dateLimite"
               name="dateLimite"
               #dateLimite="ngModel">
      </div>


      <div class="from-group">
        <select class="form-control" name="competence" [(ngModel)]="model.competences" name="idCompetence" multiple>
          <option value="" disabled>Choisir une compétence</option>
          <option *ngFor="let competence of competences" [ngValue]="competence">
            {{ competence.nom }}
          </option>
        </select>
      </div>





    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>








