
<form #f="ngForm">
  <div class="modal-header header">
    <h3>Inscris toi :)</h3>
  </div>

  <div class="modal-body">
    <div class="container">
      <div >


        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom"
                 required
                 minlength="1"
                 [(ngModel)]="model.nom"
                 name="nom"
                 placeholder="Your lastname"
                 #nom="ngModel">
          <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
               class="alert alert-danger">
            <div *ngIf="nom.errors.required">
              nom is required.
            </div>
            <div *ngIf="nom.errors.minlength">
              nom must be at least 1 character long.
            </div>
          </div>
        </div>




        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" id="prenom"
                 required
                 minlength="1"
                 [(ngModel)]="model.prenom"
                 name="prenom"
                 placeholder="Your firstname"
                 #prenom="ngModel">
          <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
               class="alert alert-danger">
            <div *ngIf="prenom.errors.required">
              prenom is required.
            </div>
            <div *ngIf="prenom.errors.minlength">
              prenom must be at least 1 character long.
            </div>
          </div>
        </div>





        <div class="form-group">
          <label for="date_naissance">Date de naissance</label>
          <div>
            <input class="form-control"
                   required
                   type="date"
                   value=""
                   id="date_naissance"
                   name="date_naissance"
                   [ngModel]="model.date_naissance | date:'yyyy-MM-dd':'':'fr'"
                   #date_naissance="ngModel"
            >
          </div>
          <div *ngIf="date_naissance.invalid && (date_naissance.dirty || date_naissance.touched)"
               class="alert alert-danger">
            <div *ngIf="date_naissance.errors.required">
              Date de naissance is required.
            </div>
          </div>
        </div>





        <div class="form-group">
          <label for="photo">URL of your picture</label>
          <input class="form-control" required
                 type="url"
                 value=""
                 id="photo"
                 name="photo"
                 placeholder="The URL of your picture"
                 [(ngModel)]="model.photo"
                 #photo="ngModel">

          <div  *ngIf="photo.invalid && (photo.dirty || photo.touched)"
                class="alert alert-danger">
            <div *ngIf="photo.errors.required">
              Photo is required.
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="email">Email</label>
          <div>
            <input class="form-control"
                   type="email"
                   value=""
                   name="email"
                   required
                   email
                   placeholder="Email"
                   id="email"
                   [(ngModel)]="model.email"
                   #email="ngModel"
            >
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">
            <div *ngIf="email.errors.required">
              email is required.
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="password">Password</label>
          <div>
            <input class="form-control"
                   type="password"
                   value=""
                   name="password"
                   required
                   password
                   minlength="3"
                   placeholder="password"
                   id="password"
                   [(ngModel)]="model.password"
                   #password="ngModel"
            >
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">
            <div *ngIf="password.errors.required">
              password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              prenom must be at least 1 character long.
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="location">Localisation</label>
          <input type="text" class="form-control" id="location"
                 required
                 minlength="1"
                 [(ngModel)]="model.location"
                 name="location"
                 placeholder="Where do you live"
                 #location="ngModel">
          <div *ngIf="location.invalid && (location.dirty || location.touched)"
               class="alert alert-danger">
            <div *ngIf="location.errors.required">
              location is required.
            </div>
            <div *ngIf="location.errors.minlength">
              location must be at least 1 character long.
            </div>
          </div>
        </div>




        <div class="form-group">
          <label for="bio">Bio</label>
          <input type="text" class="form-control" id="bio"
                 required
                 minlength="20"
                 [(ngModel)]="model.bio"
                 placeholder="Tell us more about you"
                 name="bio"
                 #bio="ngModel">
          <div *ngIf="bio.invalid && (bio.dirty || bio.touched)"
               class="alert alert-danger">
            <div *ngIf="bio.errors.required">
              bio is required.
            </div>
            <div *ngIf="bio.errors.minlength">
              bio must be at least 20 character long.
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>


